.clock{
	height:100px;
	width:100px;
	border: solid 2px black;
	border-radius: 50px;
	position: absolute;
}
.timezone{
	display: inline-block;
}

.hand-second-mountain {
  position: absolute;
  width: 50%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-minute-mountain {
  position: absolute;
  width: 40%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-hour-mountain {
  position: absolute;
  width: 30%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}

.hand-second-central {
  position: absolute;
  width: 50%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-minute-central {
  position: absolute;
  width: 40%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-hour-central {
  position: absolute;
  width: 30%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}

.hand-second-eastern {
  position: absolute;
  width: 50%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-minute-eastern {
  position: absolute;
  width: 40%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}
.hand-hour-eastern {
  position: absolute;
  width: 30%;
  height: 3px;
  right: 50%;
  top: 50%;
  background: black;
  transform-origin: 100%;
  transform:rotate(90deg);
}